extends table_layout

block columnHeaders
  th Image
  th Movie
  th Release Date
  th DankRecs Rating
  th Topics

block tableRows
  each row in rows
    tr
      th
        img(src=row.imageurl)
      th
        a(href='/search?='+row.moviename)= row.moviename
      th= row.date_release
      th= row.rating
      th= row.topicarray

append scripts