extends table_layout

block columnHeaders
  th Image
  th Movie
  th Release Date
  th DankRecs Rating
  th Topics

block tableRows
  each row, index in rows
    tr
      td
        img(src=row.imageurl)
      td= row.moviename
      td= row.date_release
      td= row.rating
      td= row.topicarray

append scripts