extends info_layout

block title
  title Dank Search
  
block info
  if movie != null
    .search-result-item.container
       img(src=movie.imageurl)
       .container
          h3#movieName=movie.moviename
          p="Rating: " + movie.rating
          p="Release Date: " + movie.date_release
          p="Genres: " + movie.topicarray
    .container
      
append scripts
  script(src='/scripts/search.js')
